<mat-toolbar>
  <span>
    <button mat-icon-button routerLink="/">
      <mat-icon>home</mat-icon>
    </button>
    {{ id || "New Content" }}
  </span>
  <div class="buttons">
    <button mat-icon-button *ngIf="!running">
      <mat-icon>play_arrow</mat-icon>
    </button>
    <button mat-icon-button *ngIf="running">
      <mat-icon>pause</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-stepper
  #stepper
  [linear]="false"
  [animationDuration]="'150ms'"
  *ngIf="details"
  [orientation]="'horizontal'"
>
  <mat-step [stepControl]="step1Control" label="Converting">
    <div class="step-content">
      <div class="input">
        <mat-toolbar> Input </mat-toolbar>
        <div class="youtube-container">
          <iframe
            id="player"
            type="text/html"
            width="100%"
            height="350"
            [src]="youtubeURL"
            frameborder="0"
          ></iframe>
        </div>
      </div>
      <div class="output">
        <mat-toolbar> Output </mat-toolbar>
        <audio controls>
          <source
            src="http://localhost:8080/{{ id }}/input.wav"
            type="audio/wav"
          />
          Your browser does not support the audio element.
        </audio>
      </div>
    </div>

    <div>
      <button mat-button routerLink="/">Back</button>
      <button
        mat-raised-button
        [disabled]="running"
        color="primary"
        (click)="onNextClick()"
      >
        Next
      </button>
    </div>
  </mat-step>

  <mat-step [stepControl]="step2Control" label="Transcribing">
    <div class="step-content">
      <div class="input">
        <mat-toolbar>
          Input
          <div class="buttons">
            <!-- <button mat-icon-button *ngIf="!editing" (click)="editing = true">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button *ngIf="editing" (click)="saveChanges()">
              <mat-icon>save</mat-icon>
            </button> -->
          </div>
        </mat-toolbar>
        <audio controls>
          <source
            [src]="'http://localhost:8080/' + id + '/input.wav'"
            type="audio/wav"
          />
          Your browser does not support the audio element.
        </audio>
      </div>
      <div class="output">
        <mat-toolbar>
          Output
          <div class="buttons">
            <button
              mat-icon-button
              (click)="executeStep()"
              *ngIf="!running; else loadingSpinner"
            >
              <mat-icon>refresh</mat-icon>
            </button>
          </div>
        </mat-toolbar>
        <mat-form-field appearance="outline">
          <mat-label>Transcription</mat-label>
          <textarea
            readonly
            matInput
            [(ngModel)]="details.audio_transcriber_result"
          ></textarea>
        </mat-form-field>
      </div>
    </div>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button
        mat-raised-button
        [disabled]="running || !details.audio_transcriber_result"
        [matTooltip]="!details.audio_transcriber_result ? 'Output of current step is required to continue' : ''"
        color="primary"
        (click)="onNextClick()"
      >
        Next
      </button>
    </div>
  </mat-step>

  <mat-step [stepControl]="step3Control" label="Analysing">
    <div class="step-content">
      <div class="input">
        <mat-toolbar>
          Input
          <div class="buttons">
            <button mat-icon-button *ngIf="!editing" (click)="editing = true">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button *ngIf="editing" (click)="saveChanges()">
              <mat-icon>save</mat-icon>
            </button>
          </div>
        </mat-toolbar>
        <mat-form-field appearance="outline">
          <mat-label>Transcription</mat-label>
          <textarea
            [disabled]="running || !editing"
            matInput
            [(ngModel)]="details.audio_transcriber_result"
          ></textarea>
        </mat-form-field>
      </div>
      <div class="output">
        <mat-toolbar>
          Output
          <div class="buttons">
            <button
              mat-icon-button
              (click)="executeStep()"
              *ngIf="!running; else loadingSpinner"
            >
              <mat-icon>refresh</mat-icon>
            </button>
          </div>
        </mat-toolbar>
        <mat-form-field appearance="outline">
          <mat-label>Analysis</mat-label>
          <textarea
            readonly
            matInput
            [(ngModel)]="details.text_analyzer_result"
          ></textarea>
        </mat-form-field>
      </div>
    </div>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button
        mat-raised-button
        [disabled]="running || !details.text_analyzer_result"
        [matTooltip]="!details.text_analyzer_result ? 'Output of current step is required to continue' : ''"
        color="primary"
        (click)="onNextClick()"
      >
        Next
      </button>
    </div>
  </mat-step>
  <mat-step [stepControl]="step4Control" label="Scripting">
    <div class="step-content">
      <div class="input">
        <mat-toolbar>
          Input
          <div class="buttons">
            <button mat-icon-button *ngIf="!editing" (click)="editing = true">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button *ngIf="editing" (click)="saveChanges()">
              <mat-icon>save</mat-icon>
            </button>
          </div>
        </mat-toolbar>
        <mat-form-field appearance="outline">
          <mat-label>Analysis</mat-label>
          <textarea
            [disabled]="running || !editing"
            matInput
            [(ngModel)]="details.text_analyzer_result"
          ></textarea>
        </mat-form-field>
      </div>
      <div class="output">
        <mat-toolbar>
          Output
          <div class="buttons">
            <button
              mat-icon-button
              (click)="executeStep()"
              *ngIf="!running; else loadingSpinner"
            >
              <mat-icon>refresh</mat-icon>
            </button>
          </div>
        </mat-toolbar>
        <mat-form-field appearance="outline">
          <mat-label>Script</mat-label>
          <textarea
            readonly
            matInput
            [(ngModel)]="details.script_generator_result"
          ></textarea>
        </mat-form-field>
      </div>
    </div>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button
        mat-raised-button
        [disabled]="running || !details.script_generator_result"
        [matTooltip]="!details.script_generator_result ? 'Output of current step is required to continue' : ''"
        color="primary"
        (click)="onNextClick()"
      >
        Next
      </button>
    </div>
  </mat-step>
  <mat-step [stepControl]="step5Control" label="Imagining">
    <div class="step-content">
      <div class="input">
        <mat-toolbar>
          Input
          <div class="buttons">
            <button mat-icon-button *ngIf="!editing" (click)="editing = true">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button *ngIf="editing" (click)="saveChanges()">
              <mat-icon>save</mat-icon>
            </button>
          </div>
        </mat-toolbar>
        <mat-form-field appearance="outline">
          <mat-label>Script</mat-label>
          <textarea
            [disabled]="running || !editing"
            matInput
            [(ngModel)]="details.script_generator_result"
          ></textarea>
        </mat-form-field>
      </div>
      <div class="output">
        <mat-toolbar>
          Output
          <div class="buttons">
            <button
              mat-icon-button
              (click)="executeStep()"
              *ngIf="!running; else loadingSpinner"
            >
              <mat-icon>refresh</mat-icon>
            </button>
          </div>
        </mat-toolbar>
        <mat-form-field appearance="outline">
          <mat-label>Image Descriptions</mat-label>
          <textarea
            readonly
            matInput
            [(ngModel)]="details.image_describer_result"
          ></textarea>
        </mat-form-field>
      </div>
    </div>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button
        mat-raised-button
        [disabled]="running || !details.image_describer_result"
        [matTooltip]="!details.image_describer_result ? 'Output of current step is required to continue' : ''"
        color="primary"
        (click)="onNextClick()"
      >
        Next
      </button>
    </div>
  </mat-step>
  <mat-step [stepControl]="step6Control" label="Drawing">
    <div class="step-content">
      <div class="input">
        <mat-toolbar>
          Input
          <div class="buttons">
            <button mat-icon-button *ngIf="!editing" (click)="editing = true">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button *ngIf="editing" (click)="saveChanges()">
              <mat-icon>save</mat-icon>
            </button>
          </div>
        </mat-toolbar>
        <mat-form-field appearance="outline">
          <mat-label>Image Descriptions</mat-label>
          <textarea
            [disabled]="running || !editing"
            matInput
            [(ngModel)]="details.image_describer_result"
          ></textarea>
        </mat-form-field>
      </div>
      <div class="output">
        <mat-toolbar>
          Output
          <div class="buttons">
            <button
              mat-icon-button
              (click)="executeStep()"
              *ngIf="!running; else loadingSpinner"
            >
              <mat-icon>refresh</mat-icon>
            </button>
          </div>
        </mat-toolbar>
        <mat-form-field appearance="outline">
          <mat-label>Images</mat-label>
          <textarea
            readonly
            matInput
            [(ngModel)]="details.image_generator_result"
          ></textarea>
        </mat-form-field>
      </div>
    </div>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button
        mat-raised-button
        [disabled]="running || !details.image_generator_result"
        [matTooltip]="!details.image_generator_result ? 'Output of current step is required to continue' : ''"
        color="primary"
        (click)="onNextClick()"
      >
        Next
      </button>
    </div>
  </mat-step>
  <mat-step>
    <div class="step-content">
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
    </div>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>

<ng-template #loadingSpinner>
  <mat-spinner [diameter]="30"></mat-spinner>
</ng-template>
