mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    display: inherit;
    align-items: center;
  }
}

mat-form-field {
  margin-top: 1rem;
  width: 100%;
  height: calc(100% - 54px);
}
mat-stepper {
  height: calc(100% - 64px);
  button {
    pointer-events: auto;
  }
  mat-form-field ::ng-deep {
    .mat-mdc-form-field-flex,
    .mat-mdc-form-field-infix,
    textarea {
      height: 100%;
    }
  }
  mat-toolbar {
    padding-left: 0 !important;
  }

  mat-form-field + div,
  .step-content + div {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 150px;
    right: 1rem;
    left: 1rem;
  }
}

.step-content {
  display: flex;
  flex-direction: row;
  padding-top: 40px;
  height: calc(100vh - 200px) !important;

  .output,
  .input {
    flex: 1;
    width: 50%;
    padding: 0.5rem;
  }
}

// ::ng-deep {
//   .mat-horizontal-stepper-header-container {
//     width: fit-content !important;
//   }
// }

::ng-deep {
  mat-step-header {
    border-radius: 40px;
  }
}

.images-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  mat-card {
    width: 20vw;
    height: 20vw;
    margin: 1rem;
  }
}
